<div class="wrapper-form">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card-header text-center">
                    <h3>Återställ lösenord</h3>
                </div>
                <div class="card w-80">
                    <div class="card-body p-5">
                        <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label class="">Email<sup>*</sup></label>
                                <input formControlName="email" type="text" class="form-control" />
                                <div class="error" *ngIf="submitted && f.email.errors?.required">
                                    Email saknas
                                </div>
                                <div class="error" *ngIf="submitted && f.email.errors?.email">
                                    Email felaktig format
                                </div>
                            </div> 
                            <div  class="form-group">
                                <button [disabled]="sentClicked" type="submit" class="btn btn-primary btn-lg btn-block">Återställ lösenord</button>
                            </div>
                            <div>
                               {{message}}
                            </div>
                            
                        </form>
                    </div>
                </div>
             </div>
        </div>
    </div>
</div>

