
<div class="wrapper-form">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card-header text-center">
                    <h3>Användar info</h3>
                </div>
                <div class="card w-80">
                    <div class="card-body p-5">
                        <form *ngIf="user | async; else loading"  [formGroup]="updateUserForm" (ngSubmit)="onSubmit()">
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">Användarnamn<sup>*</sup></label>
                                <div class="col-md-9" >
                                    <input [readOnly]="!isEditable()" formControlName="username" type="text" class="form-control" />
                                </div>
                                <div class="error" *ngIf="submitted && username.errors?.required">
                                    Användarnamn saknas
                                </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Namn</label>
                                    <div class="col-md-9" >
                                        <input [readOnly]="!isEditable()" formControlName="firstname" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Efternamn</label>
                                    <div class="col-md-9" >
                                        <input [readOnly]="!isEditable()" formControlName="lastname" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" >Beskrivning</label>
                                    <div class="col-md-9" >
                                        <input [readOnly]="!isEditable()" formControlName="description" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="text-center">
                                    <div *ngIf="!isEditable()">
                                        <button (click)="makeEditable()"  class="btn btn-success">Uppdatera uppgifter</button>
                                    </div> 
                                </div>
                                <div class="row">
                                    <div class="mr-2" *ngIf="isEditable()">
                                        <button (click)="cancelEditable()"  class="btn btn-warning">Avbryt</button>
                                    </div>
                                    <div class="ml-2" *ngIf="isEditable()" class="form-group">
                                        <button type="submit"  class="btn btn-success">Skicka</button>
                                    </div>
                                    
                                </div>
                                
                        </form>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    
  <ng-template #loading>
    Laddar..
  </ng-template>
    