<div class="container">
        <div class="card mb-3">
            <div class="card-body">
                <div class="col-sm-6">
                    <h5>{{user.username}}</h5>
                    <p><strong>Förnamn: </strong> {{user.firstname}}</p>
                    <p><strong>Efternamn: </strong> {{user.lastname}} </p>
                    <p><strong>Beskrivning: </strong>{{user.description}}</p>                    
             </div>                 
            </div>
        </div>
    </div>