<div class="container-fluid" id="background">
<div class="images row">
    <div class="col-sm-4 offset-sm-4 banner">
        <div class="p-sm-3 text-center">
            <h1 class="landing-header pb-3 core">Sport Meet</h1>
            <p class= "landing-p">Har samtidigt mjuka del regn sin bland både omfångsrik.</p>
            <button routerLink="/events" class="btn btn-lg btn-warning core-background mt-sm-4 p-2">Kolla efter evenemang</button>
        </div>
    </div>
</div>

<div class="container-fluid pb-5">
    <div class="row text-center p-5">
        <div class="col-2 offset-5">
            <h3 class="accepted-border">Hur det funkar</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 offset-md-3">
            <div class="card p-4">
                <h6>Evenemang</h6>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br><br> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br><br>  Duis aute irure dolor in reprehenderit in voluptate.
                </p>
            </div>
        </div>
        <div class="col-md-3 offset-md-1">
                <div class="card p-4">
                    <h6>Grupper</h6>
                    <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br><br> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br><br>  Duis aute irure dolor in reprehenderit in voluptate.
                        </p>
                </div>
            </div>
    </div>
</div>
<footer class="footer fixed-bottom">

</footer>
</div>