/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~open-iconic/font/css/open-iconic-bootstrap.css';

h1, h2, h3, h4, h5, h6 {
    font-family: PaytoneOne-Regular; 
    color: black;
}

span {
    color:black;
}

a {
    color:black;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

@font-face {
    font-family: PaytoneOne-Regular;
    src: url(assets/fonts/PaytoneOne-Regular.ttf) format('truetype')
}


.form-control-no-border:focus {
    border-color:#ccc;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

label, option, select, span, .btn, .custom-select, p, div {
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;

}

.btn {   
    border-radius: 0 !important;  
}

.error, sup {
    color:red;
}

.wrapper {
    background: rgb(241, 241, 241);
}

.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
  }
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}

.event {
    height: 100px;
}

a:hover {
    text-decoration: none !important;
    color: black !important;
}

.core {
    color: #ff6600 !important;
}

.core-background {
    background-color: #ff6600 !important;
    outline: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border:none;

}

#inbox {
    background-image: url(https://images.unsplash.com/photo-1526554850534-7c78330d5f90?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    background-attachment: fixed;
    background-attachment: scroll;
    background-size:cover;
}

.wrapper {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding-top: calc(74px + 1.5vw); 
    width:100%;
  }

  .wrapper-list {
      background-size: cover;
      background:rgb(219, 231, 217);
      width:100%;
      min-height: 100vh;


  }

  .wrapper-form {
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    background:rgb(219, 231, 217);
    padding-top: calc(74px + 1.5vw); 
    width:100%;

}

.card-header {
    
}

.tab {
    margin-left: 1em;
}

.pending-border {
    position: relative;
    border-bottom: 2px solid#17a2b8;
}

.accepted-border {
    position: relative;
    border-bottom: 2px solid #28a745;
}

.denied-border {
    position: relative;
    border-bottom: 2px solid #343a40;
}

.cancelled-border {
    position: relative;
    border-bottom: 2px solid #dc3545;
}

.left-border {
    position: relative;
    border-bottom: 2px solid #ffc107;
}





.event-border {
    position: relative;
    border-bottom: 4px solid #8AC007;

}

.event-border-inactive {
    position: relative;
    border-bottom: 4px solid darkgray;

}


.inbox-border {
    position: relative;
    border-bottom: 4px solid darkgray;

  }


.unit-border {
    position: relative;
    border-bottom: 4px solid rgb(7, 140, 192);

}

.pagination {
    display: inline-block;
  }
  
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
