/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~open-iconic/font/css/open-iconic-bootstrap.css';

h1, h2, h3, h4, h5, h6 {
    font-family: 'Exo'; 
    color: black;
}

span {
    color:black;
}

a {
    color:black;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

@media (min-width: 992px) { 
    .box-fluid {
        width:  80%;
    }
 }


.form-control-no-border:focus {
    border-color:#ccc;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

label, option, select, span, .btn, .custom-select, p, div {
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;

}

.btn {   
    border-radius: 0 !important;  
}
.box-info {
    background-color: #f2f0f3;
}

.error, sup {
    color:red;
}

.wrapper {
    background: rgb(241, 241, 241);
}

.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
  }
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}

.event {
    height: 100px;
}

a:hover {
    text-decoration: none !important;
    color: black !important;
}


#unit-button {
    background-color:  rgb(7, 140, 192) !important;
    border:none !important
    }
    
#inbox {
    background-color: #f2f0f3;
}


.date_time {
    color: #747474;
    font-size: 12px;
}

.btn {
    padding: 6px 25px 6px 25px !important;

}
@media (max-width: 767px)  { 
    .wrapper {
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100vh;
        width:100%;
      }
    
      .wrapper-list {
          background-size: cover;
          width:100%;
          min-height: 100vh;
      }
    
      .wrapper-form {
        background-attachment: fixed;
        background-size: cover;
        min-height: 100vh;
        background:rgb(219, 231, 217);
        width:100%;
    
    }
    
 }

 @media (min-width: 767px)  { 
    .wrapper {
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100vh;
        padding-top: calc(60px + 1.5vw); 
        width:100%;
      }
    
      .wrapper-list {
          background-size: cover;
          width:100%;
          min-height: 100vh;
      }
    
      .wrapper-form {
        background-attachment: fixed;
        background-size: cover;
        min-height: 100vh;
        background:  #f2f0f3;
        padding-top: calc(60px + 1.5vw); 
        width:100%;
    
    }
    
 }
 #event-button {
    border: none !important;
    background-color: #f6662a !important;
}

.tab {
    margin-left: 1em;
}

.pending-border {
    position: relative;
    border-bottom: 2px solid#17a2b8;
}

.accepted-border {
    position: relative;
    border-bottom: 2px solid #28a745;
}

.denied-border {
    position: relative;
    border-bottom: 2px solid #343a40;
}

.cancelled-border {
    position: relative;
    border-bottom: 2px solid #dc3545;
}

.left-border {
    position: relative;
    border-bottom: 2px solid #ffc107;
}





.event-border {
    position: relative;
    border-bottom: 2px solid #f6662a;

}

.event-border-inactive {
    position: relative;
    border-bottom: 4px solid darkgray;

}


.unit-border {
    position: relative;
    border-bottom: 4px solid rgb(7, 140, 192);

}

.pagination {
    display: inline-block;
  }
  
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
