<section class="section">
    <div class="container-fluid box-fluid">
        <div class="row box-info no-gutters">
            <div class="col-md-6">
                <div>
                    <img alt="Sport bild" class="img-fluid" src="https://images.unsplash.com/photo-1473663065522-33361623fa27?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80
                    " />
                </div>
            </div>
            <div class="col-md-6 col-lg-5 ml-auto d-flex align-items-center mt-4 mt-md-0 pr-5">
                <div class="row">
                    <h2>Dina evenemang</h2>
                    <p class="margin-top-s">Här finns både gamla och nya evenemang du skapat. Lorem ipsum</p>
                    <button routerLink="/events/registrera/form" class="btn" id="event-button">Skapa evenemang</button>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="">
        <div class="container-fluid box-fluid pt-5">
                <h2 class="headers border-bottom mb-4">Kommande evenemang</h2>
                <div>{{errorMessageActive}}</div>
                <div class="row">
                    <div class="col-12 col-md-6 mb-4 " *ngFor="let event of events">
                        <a routerLink="/events/{{event.eventNumber}}" class="card p-3">
                            <div class="card-body"> 
                                    <div class="event-border">
                                    <div class="row ml-3 mb-2">
                                        <h5 class="card-title">{{event.name}}</h5>
                                    </div>
                                </div>
                                    <div class="border-top pb-2"></div>              
    
                                    <div class="row  ml-3 ">
                                            <p class="text-muted">När: </p> <div class="tab">{{event.eventStartDate}} {{event.eventStartTime}}</div>   
                                        </div>
                                    <div class="row ml-3" >
                                        <p class="text-muted">Sport: </p> <div class="tab">{{event.sport}}</div>   
                                    </div>
                                    <div class="row ml-3">
                                        <p class="text-muted">Område: </p> <div class="tab">{{event.area}}</div>   
                                    </div>
                                    <div class="row ml-3">
                                        <p class="text-muted">Vart: </p> <div class="tab">{{event.meetingPoint}}</div>   
                                    </div>
                                    <div class="row ml-3">
                                        <p class="text-muted">Antal extra medverkande: </p> <div class="tab">{{event.noOfParticipants}}</div>   
                                    </div>
                                    <div class="row ml-3">
                                        <p *ngIf="event.noOfParticipants != 0" class="text-muted">Extra medverkande: </p>
                                        <div  *ngFor="let item of event.participants | keyvalue">
                                            <div class="t"><a routerLink="/users/{{item.key}}"> {{item.value}} ·</a></div>
                                        </div> 
                                    </div>
                                
                                    <div class="border-bottom pt-2"></div>
                                    <div class="row ml-3 pt-4 pb-1">
                                        <div class="">{{event.description | listLimitTo}}</div>   
                                    </div>
                    
                        </div> 
                        </a>                
                    </div>
                </div>
            </div>
        <div *ngIf="totalPages != null" class="container text-center"> 
                <div class="pagination" *ngFor="let page of pageArrayActive; let i of index;">
                    <a (click)="setPageActive([i])">{{page + 1}}</a>
                </div>                    
            </div>
</div>
            <div class="container-fluid box-fluid pt-3">
                    <h2 class="headers border-bottom mb-4">Gamla evenemang</h2>
                    <div>{{errorMessageInActive}}</div>
                    <div class="row">
                        <div class="col-12 col-md-6 mb-4 " *ngFor="let event of eventsInactive">
                            <a routerLink="/events/{{event.eventNumber}}" class="card">
                                <div class="card-body"> 
                                        <div class="event-border-inactive">
                                        <div class="row ml-3 mb-2">
                                            <h5 class="card-title">{{event.name}}</h5>
                                        </div>
                                    </div>
                                        <div class="border-top pb-2"></div>              
        
                                        <div class="row  ml-3 ">
                                                <p class="text-muted">När: </p> <div class="tab">{{event.eventStartDateTime}}</div>   
                                            </div>
                                        <div class="row ml-3" >
                                            <p class="text-muted">Sport: </p> <div class="tab">{{event.sport}}</div>   
                                        </div>
                                        <div class="row ml-3">
                                            <p class="text-muted">Område: </p> <div class="tab">{{event.area}}</div>   
                                        </div>
                                        <div class="row ml-3">
                                            <p class="text-muted">Vart: </p> <div class="tab">{{event.meetingPoint}}</div>   
                                        </div>
                                        <div class="row ml-3">
                                            <p class="text-muted">Antal extra medverkande: </p> <div class="tab">{{event.noOfParticipants}}</div>   
                                        </div>
                                        <div class="row ml-3">
                                            <p *ngIf="event.noOfParticipants != 0" class="text-muted">Extra medverkande: </p>
                                            <div  *ngFor="let item of event.participants | keyvalue">
                                                <div class="t"><a routerLink="/users/{{item.key}}"> {{item.value}} ·</a></div>
                                            </div> 
                                        </div>
                                    
                                        <div class="border-bottom pt-2"></div>
                                        <div class="row ml-3 pt-4 pb-1">
                                            <div class="">{{event.description}}</div>   
                                         </div>
                        
                            </div> 
                            </a>                
                        </div>
                    </div>
                </div>
               <div *ngIf="totalPages != null" class="container text-center"> 
                    <div class="pagination" *ngFor="let page of pageArrayInActive; let i of index;">
                        <a (click)="setPageInActive([i])">{{page + 1}}</a>
                    </div>                    
                </div>

